<div class="container button-body">
    <div class="row">
        <div class="col-6 col-lg-6 col-sm-6 bg-primary text-center p-2">
            <button href="javascript:void(0)" (click)="descargarReporteUsuarios()">DESCARGAR PDF</button>
        </div>
        <div class="col-6 col-lg-6 col-sm-6 bg-info text-center p-2">
            <button href="javascript:void(0)" (click)="mostrarReporteUsuario()">MOSTRAR PDF</button>
        </div>
        <div class="col-12 col-lg-12 col-sm-12 p-2" >
            <div>
                <pdf-viewer
                [src]="pdfResultSRC"
                [render-text]="true"
                [original-size]="false"
                class="pdf-viewer"
                ></pdf-viewer>
            </div>
        </div>
    </div>
</div>